@font-face {
    font-family: 'ulsanjunggu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ulsanjunggu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'TTCrownMychewR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/TTCrownMychewR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
#wrap {
    width: 250px;
    background-color: #000;
    text-align: center;
}
#wrap h1 a {
    display: block;
    color: #fff;
    line-height: 70px;
    font-family: 'ulsanjunggu';
}
#wrap nav .depth01 > li {
    position: relative;
}
#wrap nav .depth01 > li > a {
    display: block;
    color: #fff;
    line-height: 50px;
    border-top: solid 1px #fff;
    font-family: 'MICEGothic Bold';
}
#wrap nav .depth02 {
    display: none;
    position: absolute;
    left: 100%;
    width: 100%;
    top: 0;
}
#wrap nav .depth02 li a {
    display: block;
    background-color: #ccc;
    color: #000;
    line-height: 50px;
    border-top: solid 1px #000;
    font-family: 'TTCrownMychewR';
}
#wrap nav .depth01 > li:hover .depth02 {
    display: block;
}